<form id="form-equipo" role="form">
    <p>Detalle Ingreso</p>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label>Recaudador</label>
                <p><%= recaudadorNombre %></p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label>Monto</label>
                <p><%= monto %></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label>fecha Registro</label>
                <p><%= fechaRegistroDes %></p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label>Comentario</label>
                <p><%= comentario %></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label>Evento</label>
                <p><%= eventoNombre %></p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label>Estado</label>
                <p><%= enabledDes %></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>Factura</label>
                <img src="<%= rutaFactura %>">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="modal-footer">
            <button id="btn-ok" type="button" class="btn btn-success">Confirmo</button>
        </div>
    </div>
</form>