<div class="modal fade" id="ingreso-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-lupa" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Donacion</h4>
            </div>
            <div class="modal-body">
                <form id="form-ingreso" role="form">
                    <p>Detalle Donacion.</p>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Donador</label>
                                <select class="form-control" id="select-donador" placeholder="Donador..." name="donadorId" value="<%= donadorId %>">
                                </select>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Monto</label>
                                <input class="form-control" placeholder="Monto" type="number" min="1" name="monto" value="<%= monto %>">
                                <p class="help-block"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Comentario</label>
                                <input class="form-control" placeholder="Comentario" type="text" name="comentario" value="<%= comentario %>">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Visibilidad</label>
                                <select class="form-control" id="select-visibilidad" placeholder="Visibilidad..." name="visibilidad" value="<%= visibilidad %>">
                                </select>
                                <p class="help-block"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Evento</label>
                                <select class="form-control" id="select-evento" placeholder="Evento..." name="evento" value="<%= eventoId %>">
                                </select>
                                <p class="help-block"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Ruta Comprobante</label>
                                <div id="upload-file"></div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default close-lupa" data-dismiss="modal">Cancelar</button>
                    <button id="btn-aceptar" type="button" class="btn btn-success">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>