<th><%= id %></th>
<td><%= donadorNombre %></td>
<td><%= recaudadorNombre %></td>
<td><%= monto %></td>
<td><%= fechaRegistroDes %></td>
<td><%= enabledDes %></td>
<td>
    <button id="ver-comentario" class="btn btn-primary btn-xs" value="<%= id %>">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true" value="<%= id %>"></span>
    </button>
    <button id="ver-ficha-pago" class="btn btn-primary btn-xs" value="<%= id %>">
        <span class="glyphicon glyphicon-picture" aria-hidden="true" value="<%= id %>"></span>
    </button>
    <button id="eliminar-ingreso" class="btn btn-primary btn-xs" value="<%= id %>">
        <span class="glyphicon glyphicon-trash" aria-hidden="true" value="<%= id %>"></span>
    </button>
    <button id="editar-ingreso" class="btn btn-primary btn-xs" value="<%= id %>">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true" value="<%= id %>"></span>
    </button>
</td>