<th><%= id %></th>
<td><%= donadorNombre %></td>
<td><%= recaudadorNombre %></td>
<td><%= monto %></td>
<td><%= fechaRegistroDes %></td>
<td><%= visibilidadDes %></td>
<td><%= enabledDes %></td>
<td>
    <button id="ver-comentario" class="btn btn-primary btn-xs" value="<%= id %>">
        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true" value="<%= id %>"></span>
    </button>
</td>
<td>
    <button id="ver-ficha-pago" class="btn btn-primary btn-xs" value="<%= id %>">
        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true" value="<%= id %>"></span>
    </button>
</td>