<th><%= id %></th>
<td><%= donadorNombre %></td>
<td><%= recaudadorNombre %></td>
<td><%= monto %></td>
<td><%= fechaRegistroDes %></td>
<td><%= enabledDes %></td>
<td>
    <button id="detalle-ingreso" class="btn btn-primary btn-xs <%= classDetail %>" value="<%= id %>">
        <span class="glyphicon glyphicon-search" aria-hidden="true" value="<%= id %>"></span>
    </button>
    <button id="editar-ingreso" class="btn btn-primary btn-xs <%= classAction %>" value="<%= id %>">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true" value="<%= id %>"></span>
    </button>
    <button id="eliminar-ingreso" class="btn btn-danger btn-xs <%= classAction %>" value="<%= id %>">
        <span class="glyphicon glyphicon-trash" aria-hidden="true" value="<%= id %>"></span>
    </button>
</td>