<html>
    <body>
        <font color="#122C09"><h3>Sis-Lupa</h3></font>
        <p>Por favor para completar el ingreso de su aportación con folio <b>${folio}</b> ingrese en el siguiente <b><a href="${link}">link</a></b>.</p>
        <h6>Esta es una notificación automatica, no responda este correo, gracias.</h6>
    </body>
</html>