<div class="row">
    <div class="col-md-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Resumen general</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Pendientes</th>
                                <th>Sin Validar</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Ingresos</th>
                                <td id="tpi"></td>
                                <td id="tsvi"></td>
                                <td id="tti"></td>
                            </tr>
                            <tr>
                                <th scope="row">Egresos</th>
                                <td id="tpe"></td>
                                <td id="tsve"></td>
                                <td id="tte"></td>
                            </tr>
                            <tr>
                                <th scope="row">En caja</th>
                                <td id="tpc"></td>
                                <td id="tsvc"></td>
                                <td id="ttc"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div id="grafica-ingreso">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="grafica-egreso">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
